* {
  padding: 0;
  margin: 0;
}

body {
  color: black;
  background: #ffffff;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "__Montserrat_b1da2a", "__Montserrat_Fallback_b1da2a";
}
